$color_1: inherit;
$color_2: white;
$color_3: black;
$font-family_1: Cabin, sans-serif;
$font-family_2: Poppins, Helvetica, Arial, sans-serif;
$background-color_1: #FFFFFF;
$background-color_2: white;
$background-color_3: linear-gradient(90deg, white, black);
$background-color_4: #16143F;
$border-color_1: transparent;

/*=============== knowledge--page  ===============*/
/*=============== knowledge--page -- supper   ===============*/
/*==== dou place holder mini  ====*/
/*====  mini  windows  ====*/
/*====  large  windows  ====*/
/*====  medium  windows placeHolder  ====*/
/*====  medium  windows  ====*/
/*====  large windows  placeHOLDER ====*/
#knowledge--page {
	width: 100%;
	height: 1000px;
	display: flex;
	row-gap: 3rem;
	align-items: center;
	flex-direction: column;
}
#knowledge--page__upper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	h2 {
		text-wrap: balance;
		line-height: 1.25;
		font-weight: 500;
		font-size: 2.6666rem;
		z-index: 10;
		color: $color_1;
		font-family: $font-family_1;
		letter-spacing: .02rem;
		color: $color_2;
	}
	span {
		text-wrap: balance;
		text-align: center;
		font-weight: 500;
		margin-top: 1rem;
		vertical-align: baseline;
		line-height: 1.5;
		width: 650px;
		color: $color_2;
	}
}
#knowledge-pageSupper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	column-gap: 1.25rem;
}
.knowledge-pageSupperContnetPlaceHolder {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	width: 370px;
	height: 792px;
}
.duoPlaceHolder {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 370px;
	height: 144px;
}
.miniKnow {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-shrink: 0;
	cursor: pointer;
	width: 177.5px;
	height: 144px;
	overflow: hidden;
	background-color: $background-color_1;
	border-radius: 0.934rem;
	img {
		width: 116px;
		height: 116px;
		border-radius: 50%;
	}
}
.pink-color {
	background: linear-gradient(0deg, #8b60ed, #b372bd);
}
.red-color {
	background: linear-gradient(180deg, #f44881, #ec454f);
}
.largKnow {
	width: 370px;
	height: 309px;
	background: #f44881;
	border-radius: 0.934rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
	overflow: hidden;
	&:hover {
		.largKnowLeft {
			button {
				transform: translateY(-.8rem);
			}
		}
	}
}
.largKnowRihgt {
	display: flex;
	align-items: end;
	justify-content: space-between;
	width: 126px;
	height: 100%;
	position: relative;
	overflow: hidden;
	p {
		font-weight: 600;
		font-size: .6666rem;
		margin-bottom: 0.5rem;
		width: 56px;
		height: 30px;
		text-align: center;
		color: $color_2;
	}
	img {
		width: 240px;
		height: 240px;
		position: absolute;
		border-radius: 50%;
		top: -10px;
		right: -120px;
	}
}
.centerDIV {
	margin-left: 2rem;
	margin-bottom: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.dificalityPlaceHolder {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 5px;
}
.dificality {
	width: 20px;
	height: 4px;
	background-color: $background-color_2;
	border-radius: 1rem;
}
.largKnowLeft {
	display: flex;
	align-items: end;
	flex-direction: column;
	width: 230px;
	padding-top: 1.25rem;
	padding-bottom: 1.5rem;
	padding-left: 1rem;
	justify-content: space-around;
	row-gap: 2rem;
	position: relative;
	button {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 5px;
		list-style: none;
		background-color: $background-color_2;
		width: 203px;
		height: 40px;
		background-clip: padding-box;
		border-color: $border-color_1;
		border-radius: 16px;
		border-width: 1px;
		font-size: .8rem;
		font-weight: 600;
		letter-spacing: .2px;
		line-height: 1.15;
		position: relative;
		text-align: center;
		color: $color_2;
		position: absolute;
		bottom: 1.1rem;
		transform: translateY(5rem);
		transition: .3s ease;
		color: $color_3;
		font-size: .7rem;
	}
	h3 {
		width: 214px;
		text-align: right;
		height: 3rem;
		line-height: 1.25;
		font-weight: 600;
		font-size: 22px;
		font-family: $font-family_1;
		letter-spacing: .02rem;
		box-sizing: border-box;
		color: $color_2;
	}
	p {
		text-align: right;
		line-height: 1.5;
		font-family: $font-family_2;
		-webkit-line-clamp: 5;
		font-weight: inherit;
		color: $color_2;
		font-size: .8rem;
	}
}
.gray-color {
	background-color: $background-color_3;
}
.verticalDouPlaceHolder {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	row-gap: 1.25rem;
}
.mediumKnow {
	height: 144px;
	width: 370px;
	background-color: $background-color_4;
	border-radius: 0.934rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row-reverse;
	h3 {
		margin-top: 1rem;
		line-height: 1.25;
		align-items: center;
		height: 3rem;
		letter-spacing: -.02em;
		font-weight: 600;
		font-size: 1.33333rem;
		color: $color_2;
	}
	img {
		width: 96px;
		height: 96px;
		border-radius: 50%;
	}
}
.mediumKnowPlaceHolder {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}
#knowledge-largPlaceholeder {
	width: 550px;
	height: 792px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	row-gap: 1rem;
}
.flexRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	column-gap: 1rem;
}
.withs {
	width: 100%;
}
.flexColumn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	row-gap: 1.25rem;
}
